
@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/futurapt.ttf"); }
@font-face {
	  font-family: 'FuturaPT Book';
	  src: url("../fonts/FuturaPTBook.otf"); }

@font-face {
  font-family: 'FuturaPT Bold';
  src: url("../fonts/FuturaPTBold.otf"); }

@font-face {
  font-family: 'FuturaPT Medium';
  src: url("../fonts/FuturaPTMedium.otf"); }

@font-face {
  font-family: 'FuturaPT Heavy';
  src: url("../fonts/FuturaPTHeavy.otf"); }

@font-face {
  font-family: 'FuturaPT Light';
  src: url("../fonts/FuturaPTLight.otf"); }

@font-face {
  font-family: 'FuturaPT Light';
  src: url("../fonts/FuturaPTLight.otf"); }

@font-face {
  font-family: 'FuturaPT LightOblique';
  src: url("../fonts/FuturaPTLightOblique.otf"); }

body, html {
	font-size: 16px;
}
.container{
	max-width: 1170px !important; ;}
p{
	margin-bottom: 0;
}
a{
	text-decoration: none;
}
.header{
	background: url("../images/head-bg.jpg") center center no-repeat;
	height: 545px;
}
.head-menu{
	background: rgba(255,255,255,.9);
	padding: 10px 0;
}
.user-row{
	display: flex;
	margin-bottom: 30px;
}
.menu{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background: #f8fafd;
	height: 100%;
	z-index: 999;
	padding: 20px;
	width: 30%;

}
.menu ul{
	list-style-type: none;
	padding-left: 0;
}
.menu ul li p{
	text-align: right;
}
.menu ul li a{
	display: flex;
	text-decoration: none;
}
.menu ul li a{
	font: 16px 'Futura PT Book',sans-serif;
	color: #585858;
	text-align: right;
	margin-bottom: 20px;
}
.menu ul li a:hover{
	color: #0000ff;
}
.menu .icon img{
	margin-right: 10px;
}
.name a{
	color: #4c4b4b;
	font: 14px 'Futura PT Book',sans-serif;
}
.name p,
.close-menu{
	margin-top: 10px;
}
.name p img{
	margin-right: 10px;
}
.name,
.avatar{
	margin-right: 10px;
}
.space-top{
	margin-top: 50px;
}
.phone a{
	color: #4b86f8;
	font: 14px 'FuturaPT Book',sans-serif;
}
.cabinet a,
.toggle-menu a{
	color: #28304c;
	font: 14px 'FuturaPT Book',sans-serif;
}
.cabinet a img:first-child {
	margin-right: 10px;
}
.toggle-menu a img{
	margin-left: 10px;
}
.main-title h1{
	margin: 100px 0 20px;
	color: #ffffff;
	font: 46px 'FuturaPT Medium',sans-serif;
	text-align: center;
}
.main-title p{
	color: #ffffff;
	font: 24px 'FuturaPT Medium',sans-serif;
	text-align: center;
}
.pick-tour button{
	display: block;
	margin: 30px auto;
	color: #ffffff;
	font: 18px 'FuturaPT Book',sans-serif;
	text-align: center;
	background-color: #feba37;
	padding: 10px 30px;
	border: none;
	cursor: pointer;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
	border-radius: 5px;
	outline: none;
}
.pick-tour button:hover{
	color: #feba37;
	background-color: #ffffff;
	transition: all .3s ease-in-out;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .9);
}
.nav-tabs{
	border: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #ffffff;
	background-color: rgba(100, 149, 237, 0.5);
	border: 1px solid transparent;
}
.nav-tabs .nav-link {
	border: 1px solid transparent;
	color: #469cd5;
	background:  rgba(255,255,255,.9);
	font: 16px 'FuturaPT Demi',sans-serif;
}
.nav-tabs .nav-link i{
	margin-right: 10px;
}
.tab-pane{
	background-color:rgba(100, 149, 237, 0.5);
	padding: 20px;
}
.input-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}


.input-row-item1 input{
	background: #ffffff url("../images/loc-ico.png") 10% center no-repeat;
	border: none;
	border-radius: 5px;
	height: 37px;
	padding-left: 20px;
	width: 160px;
	background-size: 15px auto;
}
.input-row img {
	margin-left: -25px;}

.input-row .search-area img {
	margin-left: 0 !important;
}
.input-row .search-area .img:active {
	box-shadow: inset 0px 0px 20px 0px #fff;
	padding: 8px 20px 0px 20px;
}
.input-row-item2 input{
	background: #ffffff url("../images/where.png") 10% center no-repeat;
	border: none;
	border-radius: 5px;
	height: 37px;
	padding-left: 20px;
	width: 160px;
	background-size: 20px 20px;
}
.input-row-item3 input{
	background: #ffffff url(../images/3671880-24.png) 10% center no-repeat;
	border: none;
	border-radius: 5px;
	height: 37px;
	padding-left: 20px;
	width: 160px;
	background-size: 20px 20px;

}
.input-row-item4 input{
	background: #ffffff url("../images/duration.png") 10% center no-repeat;
	border: none;
	border-radius: 5px;
	height: 37px;
	padding-left: 20px;
	width: 160px;
	background-size: 20px 20px;
}
.input-row-item5 input{
	background: #ffffff url("../images/tourist.png") 10% center no-repeat;
	border: none;
	border-radius: 5px;
	height: 37px;
	padding-left: 20px;
	width: 160px;
	background-size: 20px 20px;
}
.input-row-item6 input{
	background: #ffffff url("../images/stars.png") 10% center no-repeat;
	border: none;
	border-radius: 5px;
	height: 37px;
	padding-left: 20px;
	width: 160px;
	background-size: 20px 20px;
}
.input-row-item1 input::placeholder,
.input-row-item2 input::placeholder,
.input-row-item3 input::placeholder,
.input-row-item4 input::placeholder,
.input-row-item5 input::placeholder,
.input-row-item6 input::placeholder{
	padding-left: 27px;
	font: 16px 'FuturaPT Medium',sans-serif;
	color: #4b86f8;
}
.input-row-item2 input::placeholder,
.input-row-item5 input::placeholder{
	padding-left: 40px !important;
}
.input-row-item4 input::placeholder{
	padding-left: 23px !important;
}

.input-row-item1 input:focus,
.input-row-item2 input:focus,
.input-row-item3 input:focus,
.input-row-item4 input:focus,
.input-row-item5 input:focus,
.input-row-item6 input:focus{
	background: #ffffff;

}
.search-area{
	display: flex;
	position: relative;
}
.search-area .img{
	background: #feb937;
	border-radius: 5px;
	padding: 5px 20px;
	cursor: pointer;
}
.search-area .img img{
	height: 19px;
	width: 19px;
}
.search-area input{
	display: none;
	transition: all .3s ease-in-out;
	position: absolute;
	left: -175px;
	border-radius: 5px;
	border: none;
	height: 37px;
}
.blue-title h1{
	font: 54px 'FuturaPT Medium',sans-serif;
	color: #469cd5;
	text-align: center;
	margin: 30px 0;
	cursor: pointer;
}
.filter-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 70px;
}
.filter-item{
	display: flex;
	cursor: pointer;
}
.filter-item:hover{
	border-radius: 30px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
	transition: all .3s ease-in-out;
}
.filter-item:hover p{
	padding: 0 12px;
	transition: .5s;
}
.filter-item:hover .image img{


}
.filter-item:hover .image{
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0);
}
.filter-item .image{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	background-color: #ffffff;
	border-radius: 50%;
	padding: 5px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-content: center;
}
.filter-item img{
	display: block;
	margin: auto;
	max-width: 20px;
	max-height: 20px;
}
.filter-item p{
	margin: 5px 0 0 10px;
	font: 18px 'FuturaPT Book',sans-serif;
	color: #505050;
	padding-right: 5px;
}
.catalog-item{
	margin-bottom: 40px;
}
.catalog-item .image {
	position: relative;


}
.catalog-item .image:hover .hover-overlay{
	display: block;
}
.catalog-item .image:hover .price{
	display: none;
}
.hover-overlay {
	display: none;
	transition: all .3s ease-in-out;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
}
.hover-overlay .rating{
	position: absolute;
	top: 70px;
	left: 20px;
}
.hover-overlay .add-fav{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
}
.hover-overlay .add-comp{
	position: absolute;
	top: 20px;
	right: 50px;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
}
.link a {
    list-style-type: none;
    font-family: 'FuturaPT';
    font-size: 16px;
    color: #606060;
}
.link {
    list-style-type: none;
    font-family: 'FuturaPT' !important;
    font-size: 16px !important;
    color: #606060 !important;
}
#tab-2 .hover-overlay {
  width: 55% !important;
}
.add-comp a {
  color: #fff;
}
.add-fav a {
  color: #fff !important;
}
.hover-overlay .add-comp a{
  color: #fff;
}
.hover-overlay .pros-list ul {
	position: absolute;
	top: 40%;
	left: 20px;
	list-style: none;
	padding-left: 0;
}
.hover-overlay .pros-list ul li{
	display: flex;
	font: 17px 'Futura PT Book',sans-serif;
	color: #ffffff;
	margin-bottom: 5px;
}
.hover-overlay .pros-list ul li .icon{
	width: 40px;
}
.hover-overlay .rating p{
	font: 17px 'Futura PT Book',sans-serif;
	color: #ffffff;
	padding-bottom: 20px;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}
.hover-overlay .button-row button:first-child{
	color: #ff1111;
	border: 1px solid #ff1111;
	font: 18px 'FuturaPT PT Demi',sans-serif;
	text-align: center;
	background: #ffffff;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	left: 20px;
	min-width: 150px;
	outline: none;
}
.hover-overlay .button-row button:first-child:hover{
	color: #ffffff;
	transition: all .3s ease-in-out;
	background-color: #ff1111;
}
.hover-overlay .button-row button:last-child{
	color: #000000;
	border: 1px solid transparent;
	font: 18px 'FuturaPT PT Demi',sans-serif;
	text-align: center;
	background: #feb937;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	min-width: 150px;
	outline: none;
}
.hover-overlay .button-row button:last-child a{
  text-decoration: none;
  color: #000000;
}
.hover-overlay .button-row button:last-child:hover a{
  text-decoration: none;
  color: #feb937;
}

.hover-overlay .button-row button:last-child:hover{
	color: #feb937;
	transition: all .3s ease-in-out;
	background-color: #fff;
}
.filter-wrap .filter-item p{
	color: #ffffff;
}

.catalog-item .image .filter-wrap{
	position: absolute;
	top: 20px;
	left: 20px;
}
.catalog-item .image .price p{
	padding: 5px 20px;
	border-radius: 10px;
	background: #ffffff;
	position: absolute;
	left: 20px;
	bottom: 20px;
	font: 18px 'FuturaPT PT Demi',sans-serif;
	color: #4598d4;
}
.catalog-item .description{
	margin-top: 20px;
}
.catalog-item .description .promo p{
	font: 18px/28px 'FuturaPT PT Demi',sans-serif;
	color: #469cd5;
	margin-bottom: 5px;
}
.catalog-item .description .red-bg{
	padding: 3px 7px;
	background-color: #f44336;
	border-radius: 5px;
	height: 25px;
	color: #ffffff;
}
.catalog-item .description .purple-bg{
	padding: 3px 7px;
	background-color: #d400f3;
	border-radius: 5px;
	height: 25px;
	color: #ffffff;
}
.catalog-item .description .brown-bg{
	padding: 3px 7px;
	background-color: #bb8c72;
	border-radius: 5px;
	height: 25px;
	color: #ffffff;
}
.catalog-item .description .green-bg{
	padding: 3px 7px;
	background-color: #4cbe00;
	border-radius: 5px;
	height: 25px;
	color: #ffffff;
}
.catalog-item .description .orange-bg{
	padding: 3px 7px;
	background-color: #ff9921;
	border-radius: 5px;
	height: 25px;
	color: #ffffff;
}
.catalog-item .description .country p{
	color: #7c7c7c;
	font: 18px 'Futura Book',sans-serif;
}
.show-more{
	display: block;
	margin: 0 auto 70px;
	text-align: center;
}
.show-more button{
	color: #ffffff;
	font: 18px 'FuturaPT PT Book',sans-serif;
	background-color: #469cd5;
	border-radius: 5px;
	padding: 5px 40px;
	border: 1px solid #469cd5;
	cursor: pointer;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
	outline: none;
}
.show-more button:hover{
	transition: all .3s ease-in-out;
	color:#469cd5;
	background-color: #ffffff;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.footer{
	background-color: #1b1c24;
	padding: 30px 0 20px;
}
.footer-list ul{
	list-style: none;
	padding-left: 0;
}
.footer-list ul li a{
	color: #ffffff;
	font: 15px 'Futura PT Book',sans-serif;
}
.footer-head h6{
	color: #ffffff;
	font: 16px 'Futura  Medium',sans-serif;
	margin-bottom: 20px;
}
.email-input {
	display: flex;
	margin-bottom: 40px;
}
.email-input input{
	background: #ffffff;
	border-radius: 50px;
	border: none;
	width: 90%;
	padding-left: 10px;
	outline: none;
}
.email-input button{
	width: 10%;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-left: -30px;
	outline: none;
}
.email-input button:hover{
	transition: all .3s ease-in-out;
	transform: scale(1.1);
}
.socials ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding-left: 0;
}
.socials ul li{
	text-align: center;
	border: 1px solid #ffffff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.socials ul li a{
	color: #ffffff;
}
.socials ul li a:hover{
	transition: all .3s ease-in-out;
	color: #469cd5;
}
.socials ul li:hover{
	transition: all .3s ease-in-out;
	border: 1px solid #469cd5;
}
.footer-text p a,
.footer-text p {
	font: 15px 'FuturaPT PT Book',sans-serif;
	color: #ffffff;
}
.border-top{
	padding: 10px 0;
}
.footer-text p img{
	margin-right: 10px;
	max-height: 15px;
}
@media (max-width: 576px) {

	.search-area img {
		margin-top: 0 !important;
	}
	.input-row img {
		margin-top: -80px;
		margin-left: 93%;
	}
	.input-row input::placeholder {
		text-align:center;
	}
	.input-row-item1 input::placeholder,
	.input-row-item2 input::placeholder,
	.input-row-item3 input::placeholder,
	.input-row-item4 input::placeholder,
	.input-row-item5 input::placeholder,
	.input-row-item6 input::placeholder{
		padding-left: 0;
	}
	.input-row-item2 input::placeholder,
	.input-row-item5 input::placeholder{
		padding-left: 0 !important;
	}
	.input-row-item4 input::placeholder{
		padding-left: 0 !important;
	}
	.header{
		height: auto;
		background-size: cover;
	}
	.nav-item{
		width: 100%;
	}
	.input-row-item1 input,
	.input-row-item2 input,
	.input-row-item3 input,
	.input-row-item4 input,
	.input-row-item5 input,
	.input-row-item6 input{
		width: 100%;
		margin-bottom: 10px;
	}
	.input-row-item1,
	.input-row-item2,
	.input-row-item3,
	.input-row-item4,
	.input-row-item5,
	.input-row-item6{
		width: 100%;
	}
	.filter-item,
	.cabinet,
	.logo,
	.phone{
		margin-bottom: 10px;
	}
	.menu{
		width: 80%;
	}
	.hover-overlay .button-row button:first-child{
		left: 0;
		min-width: auto;
		font-size: 16px;
		bottom: 10px;
	}
	.hover-overlay .button-row button:last-child{
		right: 0;
		min-width: auto;
		font-size: 16px;
		bottom: 10px;
	}
	.hover-overlay .pros-list ul li{
		font-size: 15px;
	}
	.filter-row{
		display: block;
	}
}
.mobile-cabinet {
	display: none;
}
.tour-table {
  display: block;

}
.mobile-tourtable-block {
    display: none;
}

@media screen and (max-width: 576px) {
  .tour-table {
    display: none;
  }
  .mobile-tourtable-block {
    display: block;
  }
  .mobile-tourtable {
    display: block;
    list-style: none;
    padding-left: 0 !important;
    text-align: center;
    border: 1px solid #b5d7ee;
    border-radius: 10px;
  }
  .mobile-tourtable strong {
    color: #469cd5;
  }

  .tab-content.sticky {
    position: inherit;
  }
  .tour-table {
    overflow-x: scroll;
  }
  .check-tabs {
    display: grid;
  }
  .wrapper {
    padding: 0 !important;
  }
	.input-row .search-area .img:active {
		box-shadow: inset 0px 0px 20px 0px #fff;
		padding: 5px 20px;
	}
	.mobile-cabinet {
		display: block;
		position: absolute;
		top: 0;
		left: 87%;
		margin-top: 20px;
	}

	.modile-rowss {
		position: relative;
	}

}
@media screen and (min-width: 426px) and (max-width: 577px) {
	.catalog-item {
		width: 82%;
		margin: 0 auto;
		margin-bottom: 30px !important;
	}
	.img-fluid {
		width: 100% !important;
	}
}
@media screen and (max-width: 1150px){
	.hover-overlay .button-row button:first-child {
		left: 0;
		min-width: auto;
		font-size: 16px;
		bottom: 10px;
	}
	.hover-overlay .button-row button:last-child {
		right: 0;
		min-width: auto;
		font-size: 16px;
		bottom: 10px;
	}
	.input-row input,
	.search-area .img{
		margin-top: 15px;
	}
}
@media screen and (max-width: 768px) {
	.header {
		height: auto; }


	.desktop-cabinet {
		display: none;
	}
	.mobile-cabinet {
		display: block;
		position: absolute;
		top: 0;
		left: 85%;
		margin-top: 20px;
	}
}
/*  Sravnenie style */
.compare-tours {
  margin-top: 50px; /* will remove */
}
.compare-tours .link,
.tour-contacts .link {
  font-size: 16px;
  color: #000000;
  font-family: "Futura ";
  font-weight: 300;
	margin: 15px auto;
}
.compare-tours .title,
.tour-contacts .title {
  font-size: 42px;
  line-height: 36px;
  color: #469cd5;
  font-family: 'FuturaPT';
  font-weight: 600;
  padding-left: 0px !important;
}
.compare-tours .title h1,
.tour-contacts .title h1 {
	font-family: 'FuturaPT';
	font-weight: 600;
}

.compare-tours .card-tour {
  border-radius: 7px;
  margin-bottom: 50px;
}
.compare-tours .card-tour .card-content{
  padding: 15px;
}
.compare-tours .card-tour .card-img{
  width: auto;
  height: 230px;
}

.compare-tours .card-tour .card-img img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.compare-tours .card-tour .card-content .tour-rating {
}
.compare-tours .card-tour .card-content .tour-rating span{
  font-size: 24px;
}
.compare-tours .card-tour .card-content .tour-rating .checked{
  color: #FDCD30;
}
.compare-tours .card-tour .card-content .tour-title h3{
  text-transform: uppercase;
  font-size: 20px;
  color: #469cd5;
  font-weight: 600;
}
.compare-tours .card-tour .card-content .tour-title{
  font-family: "Futura ";
  border-bottom: 1px solid #f6f6f6;
}

.compare-tours .card-tour .card-content .tour-about ul{
  padding-left: 0 !important;
}

.compare-tours .card-tour .card-content .tour-about ul li{
  list-style: none;
  border-bottom: 1px solid #f6f6f6;
  padding: 10px 0 5px;
  font-family: "FuturaPT PT";

}
.compare-tours .card-tour .card-content .tour-about ul li span{
  color: #000;
  padding-left: 5px;
  font-weight: 600;
}
.compare-tours .card-tour .card-content .tour-prices .tour-persons{
  border: 1px solid #469cd5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.compare-tours .card-tour .card-content .tour-prices .tour-persons .person-price{
  font-size: 13px;
  color: #000;
}
.compare-tours .card-tour .card-content .tour-prices .tour-persons .tour-price{
  font-size: 22px;
  color: #469cd5;
  font-family: "Futura";
  font-weight: 600;
}
/* end Sravnenie style */

/* responsive Sravnenie style */
@media screen and (min-width: 576px) and (max-width: 800px) {
  .compare-tours .col-sm-12 .row .col-sm-3 {
    max-width: 33.3333% !important;
  }
}

/* end responsive Sravnenie style */

/* sales */
.sales {
    background-color: #fff;
}

.sales .breadcrums {
    display: flex;
    padding-left: 0;
}

.sales .breadcrums li {
    list-style-type: none;
    font-family: 'FuturaPT';
    font-size: 21px;
}

.sales .breadcrums .brd-line {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sales .breadcrums li a {
    color: #000000;
}

.sales .breadcrums li a:hover {
    text-decoration: none;
}

.sales .sales-title {
    color: #469cd5;
    font-size: 42px;
    font-family: 'FuturaPT';
    font-weight: 700;
}

.sales .card {
    border: 0;
}

.sales .card .card-title {
    color: #469cd5;
    font-size: 29px;
    font-family: 'FuturaPT';
    font-weight: 700;
}

.sales .card .card-text {
    color: #000000;
    font-family: 'FuturaPT';
    font-size: 17px;
}

.sales .card .card-body {
    padding-top: 10px;
}

.sales .card {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.sales .card .card-body ul {
    padding: 0;
}

.sales .card .card-body ul li {
    list-style-type: none;
    color: #000000;
    font-family: 'futura';
    font-size: 17px;
}
.sales .card .card-title a {
	text-decoration: none; 
}
.sales .card .card-title a:hover {
	text-decoration: none; 
	color: #469cd5;
}
.sales .card .card-image {
	padding: 10px;
}

.sales .card .card-body .sales-day-over {
    color: #af1313;
    font-family: 'futura';
    font-size: 19px;
}

.sales .card .card-body .sales-day-left {
    color: #469cd5;
    font-family: 'futura';
    font-size: 19px;
}

.sales .card .card-body .sales-day-valid {
    color: #00c120;
    font-family: 'futura';
    font-size: 19px;
}

.sales .card .card-body p {
    margin-bottom: .5rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sales .card .card-img {
        height: 100%;
    }
}

@media only screen and (min-width: 1026px) {
    .sales .card .card-img {
        height: 100%;
    }
}

/* end sales */

/* CONTACTS style */
.tour-contacts .email-tour .row {
  margin-left: 0px !important;
}
.tour-contacts .col-sm-12 .row .col-sm-6 {
  margin-left: -15px !important;
}
.tour-contacts .contact-phones,
.tour-contacts .email-tour,
.tour-contacts .address-tour{
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 25px !important;
}

.tour-contacts .contact-phones .row{
  margin: 0 !important;
}
.tour-contacts .contact-phones .city-phone{
  margin-right: 50px;
}
.tour-contacts .contact-phones  p{
  margin: 0 !important;

}
.tour-contacts .contact-phones .mobile-phone,
.tour-contacts .email-tour .social-netwroks,
.address-tour .working-time  {
  border-left: 1px solid #f6f6f6;
  padding-left: 25px;
}
.tour-contacts .email-tour,
.tour-contacts .address-tour {
  padding: 25px 15px 0 0;
}
.tour-contacts .email-tour .emails {
  margin-right: 25px;
}

.tour-contacts .email-tour .social-netwroks a {
  color: #4987bf;
  font-size: 21px;
  text-decoration: none;
}
.address-tour .row {
  margin-left: 0 !important;
}
.address-tour .address-place{
  margin-right: 25px;
}

.address-tour .address-place  p,
.address-tour .working-time p{
  margin: 0 !important;

}
.tour-contacts .nopadding {
  padding-left: 0!important;
  padding-top: 25px;
}
.map-yandex {
  margin: 50px auto 0;
}
.tour-contacts .contact-phones p,
.tour-contacts .email-tour p,
.tour-contacts .address-tour p {
  font-family: 'FuturaPTPT Bold';
  font-weight: bolder;
  font-size: 21px;
}
.tour-contacts .contact-phones span,
.tour-contacts .email-tour span,
.tour-contacts .address-tour span {
  font-family: 'FuturaPT Book';
	font-size: 21px
}
.social-netwroks {
	padding-top: 15px;
}
section p {
  font-family: 'FuturaPT Book';
}
/* end CONTACTS style */
/* responsive CONTACTS style */
@media screen and (max-width: 1080px) {
  .tour-contacts .contact-phones .mobile-phone,
  .tour-contacts .email-tour .social-netwroks,
  .address-tour .working-time  {
    border-left:none;
      padding-left: 0;
  }
  .tour-contacts .contact-phones,
  .tour-contacts .email-tour,
  .tour-contacts .address-tour{
    border-bottom:none;
    padding-bottom: 0 !important;
  }
  .tour-contacts .right-area img {
    width: 100%;
  }
}
/* end responsive CONTACTS style */

/* about company */
.about-company {
    background-color: #fff;
}

 .breadcrums {
    display: flex;
    padding-left: 0;
}

 .breadcrums li {
    list-style-type: none;
    font-family: 'FuturaPT';
    font-size: 16px;
    color: #606060;
}

 .breadcrums .brd-line {
    padding-left: 1rem;
    padding-right: 1rem;
}

 .breadcrums li a {
    color: #606060;
}

 .breadcrums li a:hover {
    text-decoration: none;
}

.about-company .side-bar {
    padding: 0;
    margin-top: 1rem;
}

.about-company .side-bar li {
    list-style-type: none;
    padding: 15px 13px;
}

.about-company .side-bar li:hover {
    cursor: pointer;
}

.about-company .side-bar .side-bar__item-active {
    background-color: #f2f8ff;
}

.about-company .side-bar li a {
    color: #469cd5;
    font-family: 'FuturaPT';
    font-size: 18px;
    font-weight: 700;
}

.about-company .side-bar li a:hover {
    text-decoration: none;
}

.about-company .side-bar li a:focus {
    outline: none;
}

.about-company .box-content .box-content__title {
    color: #469cd5;
    font-size: 42px;
    font-family: 'FuturaPT';
    font-weight: 700;
}

.about-company .box-content .box-content__text {
    font-family: 'FuturaPT';
    color: #000000;
    font-size: 21px;
}

.about-company .box-content__active {
    display: block !important;
}

/* end company */



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sales .card .card-img {
        height: 100%;
    }
}

@media only screen and (min-width: 1026px) {
    .sales .card .card-img {
        height: 100%;
    }
}

/* end sales */

/* faq */
.faq-page {
    background-color: #fff;
}

.faq-page .breadcrums {
    display: flex;
    padding-left: 0;
}

.faq-page .breadcrums li {
    list-style-type: none;
    font-family: 'FuturaPT';
    font-size: 21px;
}

.faq-page .breadcrums .brd-line {
    padding-left: 1rem;
    padding-right: 1rem;
}

.faq-page .breadcrums li a {
    color: #000000;
}

.faq-page .breadcrums li a:hover {
    text-decoration: none;
}

.faq-page .faq-title {
    color: #469cd5;
    font-size: 42px;
    font-family: 'FuturaPT';
    font-weight: 700;
}

.faq-page .form-inline .input-group {
    width: 100%;
}

.faq-page .form-inline .input-group button {
    border-radius: 0 5px 5px 0;
    background-color: #feb937;
    border: 1px solid #feb937;
    padding: 10px 16px;
}

.faq-page .form-inline .input-group input:focus {
    box-shadow: none;
}

.faq-page .form-inline .input-group button:hover {
    background-color: #fff;
    cursor: pointer;
}

.faq-page .form-inline .input-group button:hover i {
    color: #feb937;
}

.faq-page .form-inline .input-group button i {
    color: #fff;
}

.faq-page .fast-search-title {
    font-size: 25px;
    font-family: 'FuturaPT';
    color: #000;
    padding-top: 40px;
}

.faq-page .fast-search-tabs {
    padding: 0;
    display: flex;
}

.faq-page .fast-search-tabs li:first-child {
    padding-left: 0;
}

.faq-page .fast-search-tabs li {
    list-style-type: none;
    padding-left: 39px;
}

.faq-page .fast-search-tabs li a {
    color: #469cd5;
    font-family: 'FuturaPT';
    font-size: 25px;
    border-bottom: 1px dashed #469cd5;
}

.faq-page .fast-search-tabs li a:focus {
    outline: none;
}

.faq-page .fast-search-tabs li .fast-search-tab-active {
    border-bottom: 0;
}

.faq-page .fast-search-tabs li a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 576px) {
    .faq-page .fast-search-tabs {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .faq-page .fast-search-tabs li:last-child {
        padding-left: 0;
    }
}

.faq-page .faq-content .faq-content-tabs {
    padding: 0;
}

.faq-page .collapse-block .collapse-buttons  {
    background-color: #f2f8ff;
    padding: 18px 0 18px 20px;
    color: #469cd5;
		margin: 0 !important;
    font-size: 21px;
    font-family: 'FuturaPT';
    display: flex;
    flex-direction: row;
}

.faq-page .collapse-block span i {
	margin-right: 15px;
}


.faq-page .faq-content .faq-content-tabs li a:hover {
    text-decoration: none;
}

.faq-page .faq-content-active {
    display: block !important;
}
.faq-page .collapse-text p {
	font-size: 19px;
	font-family: 'FuturaPT Book';
}

/* end faq */

/* personal-area */
.personal-area h1{
    color: #469cd5;
}
.user{
    padding: 1.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}
.user img{
    margin-right: 2rem;
}
.user p{
    font-weight: bold;
    color: #469cd5;
    margin-bottom: 0;
}
.user a{
    color: #8d8d8d;
}
.user-tab{
    background-color: #fff;
    margin-top: 2rem;
    border-radius: 1rem;
    color: 606060;
    font-size: 16px;
    padding-top: 1rem;
}
.user-tab ul{
    padding-left: 1.5rem;
}
.user-tab li{
    padding-top: 1rem;
    list-style-type: none;
    cursor: pointer;
}
.user-tab li i{
    margin-right: 1rem;
}
.user-tab li img{
    margin-right: 1rem;
    margin-left: -6px;
}
.user-tab-active{
   color: #469cd5;
   font-weight: bold;
}
.user-block-active{
    display: block !important;
}
.user-tab-1{
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    display: none;
}
.user-tab-1 h4{
    padding-left: 1rem;
    color: #469cd5;
}
.user-tab-1 table td{
    padding-left: 1rem;
    font-size: 15px;
}
/* personal-area-end*/

/*tour-block*/

.tour-block a:first-child{
    background-color: #4cbe00;
    color: #fff;
    padding: 5px 1rem;
    font-weight: 500;
    border-radius: 5px;
}
.tour-block a:last-child{
    background-color: #ff9921;
    color: #fff;
    padding: 5px 1rem;
    font-weight: 500;
    border-radius: 5px;
}

.wrapper{
    padding: 0 4rem;
}
.slick-next:before{
    content: url(../images/next-tour.png) !important;
}
.slick-prev:before{
    content:url(../images/prev.png) !important;
}
.slick-Nav button{
    padding: 8px 17px 26px 10px;
}
.slick-Nav button:hover{
    background-color: #f2f8ff !important;
    border-radius: 50%;
}
.slick-item img{
    border-radius: 2%;
}
.small-slick-img{
    width: auto !important;
    padding: 1rem;
}
.slick-Nav{
    margin-top: 0.5rem;
}

.lk-dews-page {
	background-color: #f6f6f6;
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 46px;
    background: #469cd5;
    color: #fff;
		font-size: 21px;
    cursor: pointer;
    border: 0;
    border-radius: 9px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}
#myTab .nav-item {
  padding-right: 10px;
}
/*************************************************************** MENU *****************************************************************************/
.sticky {
  position: fixed;
  top: 0;
  width: auto;
  z-index: 9999;
  background-color: #469cd5;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.sticky .tab-pane {
  background: none;
}

.sticky + .content {
  padding-top: 102px;
}

/*********************************************************** CARD TOUR *****************************************************************************/
#card-tour {
  height: 100%;
 }
#card-tour .check-tabs {
  margin-top: 70px;
  border-bottom: 1px solid #b8b9b8;
  text-align: center;
  position: relative;
  padding: 14px;
}

#card-tour .check-tabs .check-link {
  background: transparent;
  padding: 20px;
  color: #469cd5;
  position: relative;
  font-size: 18px;
}
#card-tour .check-tabs .btn-checked::after {
    background-color: #faba36;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    transform: translate(-50%,0);
    width: 50px;
    left: 50%;
}
#card-tour .filter-tours .filter-items {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #f2f8ff;
  border-radius: 10px;
}

#card-tour .filter-tours .filter-items div{
  border-right: 1px solid #d4dfed;

}
#card-tour .filter-tours .filter-items .item-title {
  color: #469cd5;
  font-family: 'FuturaPT';
  font-size: 17px;
}

#card-tour .filter-tours .filter-items div p{
  font-weight: bold;
  margin: 0 !important;
  font-family: 'FuturaPT Bold';
}
#card-tour .filter-tours .filter-items div select{
  margin-top: 5px;
  background-color: transparent;
  border: none;
  outline: none !important;
  font-family: 'FuturaPT';
}
#card-tour .filter-tours .filter-items div:last-child{
  border-right: none;
}
#card-tour .filter-tours .edit-filter {
  text-align: center;
  margin-top: 50px;
}
#card-tour .filter-tours .edit-filter button{
  color: #fff;
  font-size: 18px;
  border: 1px solid #feb937;
  border-radius: 7px;
  padding: 12px 25px;
  background: #f59830;
  background-position: 10px 45%;
  outline: none !important;
}
#card-tour .filter-tours .edit-filter button:hover {
	filter: brightness(0.5);
	background: transparent;
	color: #feb937;
	border: 1px solid #feb937;

}
#card-tour .filter-tours {
  border-bottom: 1px solid #d4dfed;
  padding-bottom: 20px;
}
#card-tour .tour-dates h4 {

}
#card-tour .titlestable {
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  display: flex;
    padding: 10px;
  font-family: 'FuturaPT';
}
#card-tour .titlestable  li,
#card-tour .contenttable li {
  width: 20%;
}
#card-tour .contenttable {
  list-style: none;
  font-size: 18px;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #b5d7ee;
  font-family: 'FuturaPT';
  padding-left: 0 !important;
}
#card-tour .contenttable.active {
  border-color: #f59830;
}
#card-tour .contenttable li {
  padding: 5px 15px;
  border-right: 1px solid #d4dfed;
  font-family: 'FuturaPT';
  font-weight: 400;
}
#card-tour .contenttable li>strong {
  color: #469cd5;
}
#card-tour .contenttable li:last-child {
  border: none;
}
#card-tour .contenttable.active .table-price {
  background: #fcd6a6;
}
#card-tour .contenttable .table-price {
  background: #e5f1f9;
  text-transform: uppercase;
  border-radius: 10px;
  margin-left: 10px;
}
#card-tour .tour-table {
  border-bottom: 1px solid #d4dfed;
  padding-bottom: 20px;
}
#card-tour .social-blocks span {
  width: 30px !important;
  height: 30px !important;
  border: 1px solid #000;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
#card-tour .social-blocks span a {
  color: #000;
}
.filter-tours  h4,
.tour-dates h4 ,
.recom-title h5 {
  position: relative;
  color: #469cd5;
  margin: 50px auto;
  text-align: center;
  font-size: 24px;
  font-family: 'FuturaPT Medium';
}
.filter-tours  h4,
.tour-dates h4  {
  text-align: left !important;
}
.recom-title {
  position: relative;
  margin: 50px auto;
  text-align: center;
  color: #469cd5;
  font-size: 24px;
  font-family: 'FuturaPT Medium';
}
.recom-title:after {
  content: '';
  width: 40px;
  height: 3px;
  background: #faba36;
  position: absolute;
  bottom: -10px;
  right: 48%;
}
#recommended .catalog-tour {
  -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   justify-content: space-between;
}
#recommended {
  border-bottom: 1px solid #d4dfed;
  padding-bottom: 20px;
}
#bardiv {
  overflow-x:hidden;
  margin: 0 auto;
}
#card-tour .tour-dates .btns #toright{
  position: absolute;
  right: 0;
  top: 50%;
  background: transparent;
  border: none;
  color: #469cd5;
  border-radius: 50%;
  outline: none !important;
  padding: 0 15px;
  text-align: center;
  font-size: 28px;

}
#card-tour .tour-dates .btns #toleft{
  position: absolute;
  left: 0;
  top: 50%;
  background: transparent;
  color: #469cd5;
  border-radius: 50%;
  outline: none !important;
  padding: 0 15px;
  text-align: center;
  font-size: 28px;
  border: none;
}
#card-tour .tour-dates .btns #toleft.active,
#card-tour .tour-dates .btns #toright.active{
  background: #f2f8ff;
}
#card-tour .tour-dates {
  position: relative;
}
#card-tour #saws .latest-seen .small-card .sm-image img{
  border-radius: 10px;
}
#card-tour #saws .latest-seen .small-card  {
  display: flex;
  outline: none !important;
}
#card-tour #saws .latest-seen .small-card a {
  text-decoration: none;
  outline: none !important;
  display: flex;

}
#card-tour #saws .latest-seen .small-card  .sm-content {
  padding: 5% 0 !important;
}
#card-tour #saws .latest-seen .small-card  .sm-content h6 {
  color: #469cd5;
  font-family: 'FuturaPT Bold';
}
#card-tour #saws .latest-seen .small-card  .sm-content p {
  color: #8d8d8d;
  font-weight: 'FuturaPT Book';
}
#card-tour #recommended .hover-overlay .button-row button:first-child {
  min-width: 135px !important;
}
